<!--Importar as Classes que serão utilizadas-->


<!--Criando a conexção com o Banco de Dados-->
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="~/CSS/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <title>Criar Conta</title>
</head>
<body>
  <nav>
    <h1>Gadget Groove</h1>
    <div class="buscar">
        <form action="#" method="get" class="buscar-form">
            <input type="text" placeholder="Digite o nome do produto..." name="search" id="search" class="buscar-input">
            <button type="submit" class="buscar-button">Buscar</button>
        </form>
    </div>
    <div class="areaDeCadastros">
      <a href="~/Site/index.cshtml">Voltar para o inicio</a>
    </div>
  </nav>
  <h2 class="subTitulo">Criar Conta</h2>
  <div>
      <section class="padrao-form">
          <form method="post" action="~/Site/cadastra_usuario.cshtml">

              <div>
                  <input placeholder="Nome" type="text" name="nome" />
                  <input placeholder="Sobrenome" type="text" name="sobrenome">
              </div>
              <div>
                  <input placeholder="CPF*" type="text" name="CPF" required>
                  <input placeholder="Senha*" type="password" name="senha"  required>
              </div>
              <div>
                  <input placeholder="Email" type="email" name="email" />
                  <input placeholder="Genero" type="text" name="genero">
              </div>
              <div class="endereco">
                  <input  placeholder="Rua" type="text" name="enderecoRua">
                  
              </div>
              <div>
                  <input placeholder="Numero" type="number" name="enderecoNumero">
                  <input placeholder="Complemento" type="text" name="enderecoComplemento" />
                  
              </div>
              <div>
                  <input placeholder="CEP" type="number" name="cep">
                  <input placeholder="Telefone" type="number" name="telefone">
              </div>
              <div class="isAdmin">
                <p>Você é administrador?</p>
                <input type="radio" name="admin" value="true" /> Sim<br />
                <input type="radio" name="admin" value="false" /> Não<br />
              </div>
              <p class="obrigatorio">* Dados obrigatórios</p>
              <div class="btn-inpt">
                  <button class="btn-continuar" type="submit">Continuar</button>
              </div>
          </form>
      </section>
  </div>
</body>
</html>